@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
        background: black;
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
}
header{
        height: 35vh;
        border-bottom: solid white 6px;
        
        width: 100%;
        position: absolute;
}
header h1{
        display: flex;
        justify-content: center;
        position: relative;
        top: 4rem;
        
}
header .again{
        position: relative;
        top: -46px;
        left: 10px;
       
}
.btn{
        background: white;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
header .questionmark{
        font-size: 5rem;
        background: white;
        color: black;
        width: 9rem;
        transform: translate(-50,-50);
        -webkit-transform: translate(-50,-50);
        -moz-transform: translate(-50,-50);
        -ms-transform: translate(-50,-50);
        -o-transform: translate(-50,-50);
        position: relative;
        bottom: -1.5rem;
        left: 37rem;
        text-align: center;
}
header .between{
        display: flex;
        justify-content: end;
        position: relative;
        top: -5.5rem;
}
main{
        position: absolute;
        display: flex;
        justify-content: space-around;
}
main .left{
        position: relative;
        top: 20rem;  
        left: 16rem;   
        display: flex;
        flex-direction: column;
}
.check{
        width: 9rem;
        position: relative;
        left: 7rem;
}
main .right{
        position: relative;
        top: 20rem;
        right: -40rem;
}
.guessinput{
        text-align: center;
        margin-bottom: 2rem;
        width: 11rem;
        border: solid white 6px;
        background: black;
        height: 5rem;
        color: white;
        font-size: 50px;
        position: relative;
        left: 6.1rem;
}
.startg{
        margin-bottom: 5rem;
}

